.islemag-nav-tabs {
	margin-bottom: 0;
}

.islemag-nav-tabs:after {
	display: table;
	clear: both;
	content: " ";
}

.islemag-nav-tabs > li {
	display: block;
	float: left;
	margin-bottom: -1px;
}

.islemag-nav-tabs > li > a {
	display: block;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.islemag-nav-tabs > li.active > a,
.islemag-nav-tabs > li.active > a:focus,
.islemag-nav-tabs > li.active > a:hover {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555;
	background-color: #fff;
}

.islemag-nav-tabs > li.islemag-w-red-tab > a {
	color: red;
	font-weight: bold;
}

.islemag-tab-content {
	float: left;
	width: 960px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #fff;
}

.islemag-tab-content > .tab-pane {
	display: none;
}

.islemag-tab-content > .active {
	display: block;
}

.islemag-tab-pane {
	padding: 30px;
}

.islemag-tab-pane {
	display: none;
}

.islemag-tab-pane.active {
	display: block;
}

#islemag-theme-version {
	padding: 10px;
	background: #ccc;
	font-size: 50%;
}

#islemag-w-screenshot {
	margin-top: 30px;
	border: 1px solid #ccc;
}

.islemag-w-activated {
	cursor: not-allowed !important;
}

.islemag-tab-pane-half {
	float: left;
	width: 45%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
}

.islemag-tab-content img {
	max-width: 100%;
}

.islemag-tab-pane-first-half {
	border-left: none;
}

.islemag-tab-pane-center {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.islemag-welcome-title {
	font-size: 32px;
}

.islemag-clear {
	clear: both;
}

.islemag-actions-count {
	display: inline-block;
	z-index: 26;
	margin: 1px 0 0 2px;
	padding: 0 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #d54e21;
	font-size: 9px;
	font-weight: 600;
	line-height: 17px;
	vertical-align: top;
}

.islemag-action-required-box {
	position: relative;
}

.islemag-dismiss-required-action {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #fff;
	background-color: #d24a4a;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.islemag-dismiss-required-action:hover {
	background-color: #cc8c8c;
}

#github.islemag-tab-pane {
	text-align: center;
}

#github.islemag-tab-pane .islemag-tab-pane-half {
	min-height: 160px;
}

#github.islemag-tab-pane .translate-button,
#github .github-button {
	margin-top: 20px;
}

#github.islemag-tab-pane .dashicons {
	width: auto;
	color: #0073aa;
	font-size: 12px;
}

#github.islemag-tab-pane h4 {
	margin: 10px;
	;
}

#github.islemag-tab-pane p.review-link {
	margin: 0;
}

#github.islemag-tab-pane .islemag-tab-pane-half hr {
	display: none;
}

/*Breakpoints*/

@media (max-width: 1200px) {
	.islemag-tab-content {
		width: 98%;
	}

	.islemag-tab-pane-half {
		width: 43%;
	}
}

@media (max-width: 782px) {
	#github.islemag-tab-pane .islemag-tab-pane-half hr {
		display: block;
	}

	.islemag-tab-pane-half {
		float: none;
		width: auto;
		border-left: none;
	}

	.islemag-welcome-title,
	.islemag-tab-content h1 {
		line-height: 30px;
	}
}
