.islemag-nav-tabs {
    margin-bottom: 0;
}
.islemag-nav-tabs:after {
    clear: both;
    display: table;
    content: " ";
}
.islemag-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    display: block;
}
.islemag-nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    display: block;
    padding: 10px 15px;
	text-decoration: none;
}
.islemag-nav-tabs > li.active > a, .islemag-nav-tabs > li.active > a:focus, .islemag-nav-tabs > li.active > a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.islemag-nav-tabs > li.islemag-w-red-tab > a {
    color: red;
    font-weight: bold;
}
.islemag-tab-content {
	background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 960px;
    float: left;
}
.islemag-tab-content > .tab-pane {
    display: none;
}
.islemag-tab-content > .active {
    display: block;
}

.islemag-tab-pane {
	padding: 30px;
}
.islemag-tab-pane {
    display: none;
}
.islemag-tab-pane.active {
    display: block;
}

#islemag-theme-version {
    font-size: 50%;
    padding: 10px;
    background: #ccc;
}
#islemag-w-screenshot {
    border: 1px solid #ccc;
    margin-top: 30px;
}
.islemag-w-activated {
    cursor:not-allowed !important;
}
.islemag-tab-pane-half {
    width: 45%;
    float:left;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.islemag-tab-content img {
    max-width: 100%;
}
.islemag-tab-pane-first-half {
    border-left: none;
}
.islemag-tab-pane-center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.islemag-welcome-title {
    font-size: 32px;
}
.islemag-clear {
    clear: both;
}
.islemag-actions-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}
.islemag-action-required-box {
    position: relative;
}
.islemag-dismiss-required-action {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: #D24A4A;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.islemag-dismiss-required-action:hover {
    background-color: #CC8C8C;
}

#github.islemag-tab-pane {
  text-align: center;
}

#github.islemag-tab-pane .islemag-tab-pane-half {
  min-height: 160px;
}

#github.islemag-tab-pane .translate-button, #github .github-button {
  margin-top: 20px;
}

#github.islemag-tab-pane .dashicons {
  color: #0073aa;
  font-size: 12px;
  width: auto;
}

#github.islemag-tab-pane h4 {
  margin:10px;;
}

#github.islemag-tab-pane p.review-link {
  margin:0;
}

#github.islemag-tab-pane .islemag-tab-pane-half hr {
  display: none;
}

/*Breakpoints*/

@media (max-width: 1200px) {
  .islemag-tab-content {
    width: 98%;
  }
  .islemag-tab-pane-half {
    width: 43%;
  }
}
@media (max-width: 782px) {
  #github.islemag-tab-pane .islemag-tab-pane-half hr {
    display:block;
  }

  .islemag-tab-pane-half {
    width: auto;
    float: none;
    border-left: none;
  }
  .islemag-welcome-title, .islemag-tab-content h1 {
    line-height: 30px;
  }
}
